body{
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Oswald', sans-serif;
    color: black;
}
.texto-medio{
    font-size: 25px;
}

.navbar{
    height: 100px;
}

.seccion-discografia{
    /* background: #58231b; */
    background: linear-gradient(0deg, rgba(171,99,88,1) 12%, rgba(88,35,27,1) 59%);


}
.seccion-discografia .imagen-pequeña{
    width: 300px;
}
.seccion-discografia .padding-y{
    padding-top: 80px;
    padding-bottom: 80px;
}

.seccion-discografia .card{
    width: 500px;
    height: 200px;
    background-color: rgb(88,35,27);
}

.seccion-discografia .card-body{
    padding:0;
}

.texto-discografia{
    font-family: 'Satisfy', cursive;
    color: cornsilk;
}

.seccion-historia{
    background: radial-gradient(circle, rgba(251,236,195,1) 41%, rgba(250,214,106,1) 94%);
}


.texto-historia{
    font-family: 'Satisfy', cursive;
}

.logo{
    width: 110px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    left:-5px;
    top: 5px;
}
.seccion-historia .card{
    border-color: rgb(158, 70, 70);
    border-width: 3px;
    border-radius: 15px;
    margin: 10px;
}
.seccion-historia .card-body{
    background-color: gainsboro;
    padding:0;
    border-width: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}
.seccion-historia .margen-boton{
    margin: 1rem;
}

.seccion-historia .imagen-med{
    width: 100%;
}
.seccion-historia .bordes-arriba{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.seccion-historia .btn-primary{
    background-color: rgb(105, 4, 4);
    border-color: rgb(105, 4, 4);
}

.seccion-historia .btn-primary:active{
    background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.seccion-historia .btn-primary:focus{
    background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.seccion-historia .btn-primary:hover{
        background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.modal-header{
    border-bottom: 0;
}
.modal-footer{
    border-top:0;
}

.modal-fullscreen{
    width: 95%;
    height: 90%;
}
.centrar-modal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;

}
.imagen-modal{
    width: 600px;
}

.seccion-equipo{
    background: radial-gradient(circle, rgba(251,236,195,1) 41%, rgba(250,214,106,1) 94%);

}
.texto-equipo{
    font-family: 'Satisfy', cursive;

}

.sombra{
    color: rgb(59, 58, 58);

    cursor: pointer;
    transition: ease-out 0.3s;
}
.sombra:hover{
    filter: drop-shadow(5px 5px 3px rgba(160, 160, 158, 0.616));
    transform: scale(1.1);
    opacity: 0.7;
}
.marco{
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
}

.seccion-equipo .card{
    background: 0;
    border:0;
    width: 300px;
}

.seccion-contactanos{
    background-color: rgb(254, 251, 246);
}
.formulario{
    border-style: dashed;
    border-color: tomato;
    border-width: 3px;
    padding:30px;
    width: 350px;
}

.formulario label{
    width: 100px;
    display: inline-block;
}

.input-group{
    margin:10px;
}

.title-form{
    margin-left: 4rem;
}

.imagen-fondo{
    width: 800px;
    right: end;
}