body{
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Oswald', sans-serif;
    color: black;
}
.texto-medio{
    font-size: 25px;
}

.navbar{
    min-height: 100px;
}

.seccion-discografia{
    background: linear-gradient(0deg, rgba(171,99,88,1) 12%, rgba(88,35,27,1) 59%);
    margin-top: -6rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.seccion-discografia .imagen-pequeña{
    width: 300px;
}
.seccion-discografia .padding-y{
    padding-top: 80px;
    padding-bottom: 80px;
}

.seccion-discografia .card{
    width: 500px;
    height: 200px;
    background-color: rgb(88,35,27);
}

.seccion-discografia .card-body{
    padding:0;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.616));

}

.texto-discografia{
    font-family: 'Satisfy', cursive;
    color: cornsilk;
}

@media screen and (max-width: 550px){
    .tamaño{
        width: 300px;
        height: 80px;
    }
    .seccion-discografia .card{
        width: 300px;
        height: 80px;
        background-color: rgb(88,35,27);
    }
}

.seccion-historia{
    background: radial-gradient(circle, rgba(251,236,195,1) 41%, rgba(250,214,106,1) 94%);
    margin-top: -5rem;
    padding-top: 5rem;
}


.texto-historia{
    font-family: 'Satisfy', cursive;
}

.logo{
    width: 110px;
    padding-top: 0;
    padding-bottom: 0;
    /* position: absolute; */
    left:-5px;
    top: 5px;
}
.seccion-historia .card{
    border-color: rgb(158, 70, 70);
    border-width: 3px;
    border-radius: 15px;
    margin: 10px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.616));

}
.seccion-historia .card-body{
    background-color: gainsboro;
    padding:0;
    border-width: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;


}
.seccion-historia .margen-boton{
    margin: 1rem;
}

.seccion-historia .imagen-med{
    width: 100%;
}
.seccion-historia .bordes-arriba{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.seccion-historia .btn-primary{
    background-color: rgb(105, 4, 4);
    border-color: rgb(105, 4, 4);
}

.seccion-historia .btn-primary:active{
    background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.seccion-historia .btn-primary:focus{
    background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.seccion-historia .btn-primary:hover{
        background-color: rgb(167, 23, 23);
    border-color: rgb(167, 23, 23);
}
.modal-header{
    border-bottom: 0;
}
.modal-footer{
    border-top:0;
}

.modal-fullscreen{
    width: 95%;
    height: 90%;
}
.centrar-modal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;

}
.imagen-modal{
    width: 600px;
}

.seccion-equipo{
    background: radial-gradient(circle, rgba(251,236,195,1) 41%, #fad66a 94%);
    margin-top: -6rem;
    padding-top: 10rem;

}
.texto-equipo{
    font-family: 'Satisfy', cursive;

}

.sombra{
    color: rgb(59, 58, 58);
    cursor: pointer;
    transition: ease-out 0.3s;
}
.sombra:hover{
    filter: drop-shadow(5px 5px 3px rgba(160, 160, 158, 0.616));
    transform: scale(1.1);
    opacity: 0.7;
}
.marco{
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.616));
}
.guy .marco{
    height: 292px;
    width: 292px;
    background-image: url(./Imagenes/Guy-ManuelDeHomem-Christo-cuadrado.jpg);
    background-size: 292px;
    background-image: 100%;
    transition: ease-out 0.5s;
}
.guy .marco:hover{
    background-image: url(./Imagenes/g-man-cuadrado.jpg);
}

.thomas .marco{
    height: 292px;
    width: 292px;
    background-image: url(./Imagenes/thomas-bangalter-cuadrado.jpeg);
    background-size: 292px;
    background-image: 100%;
    transition: ease-out 0.5s;
}
.thomas .marco:hover{
    background-image: url(./Imagenes/t-bang-cuadrado.jpg);
}

.seccion-equipo .card{
    background: 0;
    border:0;
    width: 300px;
}

.seccion-contactanos{
    background: radial-gradient(circle, rgba(251,236,195,1) 41%, #fad66a 94%);
    margin-top: -6rem;
    padding-top: 10rem;
    }
.texto-contactanos{
    font-family: 'Satisfy', cursive;
}


.formulario{
    background: linear-gradient(351deg, rgba(95,88,99,1) 0%, rgba(209,203,200,1) 40%, rgba(207,205,208,1) 71%);
    padding: 1.5rem;
    margin: 5rem auto;
    color:black;
    font-size: 1.2rem;
    border-radius: 20px;
    border:solid;
    border-color: rgb(39, 38, 23);
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.616));


}

.formulario input, .formulario textarea{
    background-color: rgb(255, 248, 248);
    font-size: 1.1rem;
    border-radius: 10px;
    border:solid;
    border-color: rgb(39, 38, 23);
}

.formulario textarea{
    margin-right: 0;
}
.formulario .mensaje{
    height:205px;
    
}

.contenedor-boton{
    display: flex;
    justify-content: center;
}

.boton{
    padding: 0.7rem 3rem ;
    background: linear-gradient(90deg, rgba(181,98,56,1) 0%, rgba(236,177,66,1) 50%, rgba(181,98,56,1) 89%);
    font-size: 1.3rem;
    border-radius: 10px;
    border: solid;
    border-color: rgb(39, 38, 23);
    margin-top: 12PX;
}


@media screen and (max-width: 600px){
    .formulario{
        padding: 10px;
    }
}

@media screen and (min-width: 1000px){
    .solapa{
        transform: translate(-96px, 0px)
    }
}

footer{
    background-color: #212529;
    margin: auto 0;
}

footer .social-icon{
    font-size: 2.5rem;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 600px){
    footer .social-icon{
        margin: 2px;
    }

    footer ul{
        margin-top: 1.5rem;
    }
}

footer ul a{
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 600px){
    .modal iframe{
        width: 100%;
        height: 30%;
    }
    .modal img{
        width: 100%;
    }

}
